@import '../utils/mixins';
@import '../utils/variables';

.footer {
  background-color: $white;
  color: $black;
  font-family: $font-main;
  font-weight: 400;
  border-top: 1px solid darken($white, 10%);
  padding: 25px 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to(md) {
      flex-direction: column;
      gap: 15px;
      text-align: center;
    }
  }

  &__copyright {
    font-size: 1rem;
    font-weight: 600;
  }

  &__social {
    display: flex;
    gap: 30px;

    @include respond-to(md) {
      justify-content: center;
      width: 100%;
    }
  }

  &__social-link {
    color: $black;
    transition: color 0.3s ease;

    svg {
      display: block;
      width: 32px;
      height: 32px;
    }

    &:hover {
      color: $blue;
    }
  }
}